@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


.App {
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    font-family: 'Berkshire Swash', cursive;
    
height: 400px;
width: 100%;
justify-content: center;
font-size: 40px;
text-align: center;
}